@import 'tailwindcss';

@layer base {
  :root {
    --color-background: 222.2 84% 4.9%;
    --color-foreground: 210 40% 98%;
    --color-necro-green: #00ff41;
    --color-necro-purple: #9d4edd;
    --color-necro-dark: #0a0e27;
    --color-necro-darker: #050810;
  }
}

body {
  background-color: var(--color-necro-darker);
  color: var(--color-foreground);
}
